{% extends "base.html" %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-primary text-white">
                <h3 class="mb-0 text-center">
                    ➕ Add New Patient
                </h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">
                        <label class="form-label">Patient Name</label>
                        <input
                            type="text"
                            name="name"
                            class="form-control"
                            placeholder="Enter patient name"
                            minlength="3"
                            maxlength="50"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Age</label>
                        <input
                            type="number"
                            name="age"
                            class="form-control"
                            placeholder="Enter age"
                            min="1"
                            max="120"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Disease</label>
                        <input
                            type="text"
                            name="disease"
                            class="form-control"
                            placeholder="Enter disease"
                            minlength="3"
                            maxlength="100"
                            required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Severity</label>

                        <select
                            name="severity"
                            class="form-select"
                            required>

                            <option value="">Select Severity</option>

                            <option value="1">
                                Critical (1)
                            </option>

                            <option value="2">
                                Medium (2)
                            </option>

                            <option value="3">
                                Low (3)
                            </option>

                        </select>

                    </div>

                    <div class="d-grid">

                        <button
                            type="submit"
                            class="btn btn-primary">

                            Register Patient

                        </button>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}